body {
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
}

/*to ignore clicked link css for <a> */
a {
    text-decoration: none;
    color: black;
}

/* inline for all the boxes (universal) */
* {
    box-sizing: border-box;
}